.profile {
    max-width: 880px;
    margin: 40px auto 51px;
    display: flex;
    flex-direction: row;
    position: relative;
}



@media all and (max-width:1279px) {
    .profile {
        max-width: 282px;
        margin: 42px auto 0;
        flex-direction: column;
        justify-content: flex-start;
    }
}