.profile__edit {
    max-width: 24px;
    height: 24px;
    margin: 15px 0 0 18px;
    cursor: pointer;
}

@media all and (max-width:1279px) {
    .profile__edit {
        max-width: 18px;
        height: 18px;
        margin: 8px 0 0 10px;
    }

}