.popup__savebutton {
    margin: 18px 36px 37px 36px;
    max-width: 358px;
    min-height: 50px;
    background-image: url(../../../images/submit_button.jpg);
}

@media all and (max-width:1279px) {
    .popup__savebutton {
        max-width: 238px;
        min-height: 46px;
        margin: 15px 22px 25px 22px;
        background-image: url(../../../images/submit_button2.jpg);
    }
    
}