.profile__name {
    max-width: 494px;
    height: 39px;
    font-family: 'Inter';
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    color: white;
    margin: 0;
    white-space: nowrap;
}

@media all and (max-width:1279px) {
    .profile__name {
        max-width: 189px;
        height: 26px;
        font-size: 27px;
        line-height: 32.68px;
        text-align: center;
        margin: 0 0 14px 46px;
        position: relative;
    }

}