.popup__input-error_active {
    border-bottom: 1px solid red;
    margin: 0 36px 0 36px;
}

@media all and  (max-width:1279px){
    .popup__input-error_active{
        margin: 0 22px 0 22px;
    }
    
}